@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/bg.jpg");
  height: 700px;
  position: relative;
  background-position: center center;
  /* background-size: max(100vw,1200px); */
  background-size: cover;
}

.main .box {


  height: 700px;
  border: none;
  width: 100%;
  opacity: 0.65;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 80vw;
  height: 80px;
}

#image {
  width: 115px;
  position: relative;
  z-index: 10;
  color: rgb(255, 0, 0);
}

div button {
  position: relative;
  z-index: 10;
  width: 115px;

}

.top-box {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.signin {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;

}

.email {
  height: 50px;
  width: 350px;
  margin-right: 8px;
  border-radius: 3px;
}

.start {
  height: 59px;
  font-size: 20px;
  background-color: red;
  border: none;
  color: white;
  width: 165px;
  font-weight:bold;
  border-radius: 3px;

}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  font-family: 'Martel Sans', sans-serif;
  gap: 23px;
  padding: 29px;
  text-align: center;
}

.hero> :first-child {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.hero span:nth-child(2){
  font-size: 18px;
  font-weight:600;
}
.hero span:nth-child(3){
  font-size: 18px;
  font-weight:600;
}
.seperation {
  height: 6px;
  background-color: rgb(46, 44, 44);
  /* position:relative; */
  z-index: 30;
}

.btn {
  padding: 4px 9px;
  font-weight: bold;
  border: none;
  background-color: rgba(23, 23, 23, 0.8);
  color: white;
  border-radius: 2px;
  border: 1px solid rgba(246, 238, 238, 0.7);
}

.btn select {
  background-color: transparent;
  border: none;
  color: #E7E7E7;
}

.btn-red {
  background-color: red;
  border: none;
  color: white;
  width: 115px;
}

.btn-red-sm {
  background-color: red;
  color: white;
  border: none;
  width: 80px;
}

.main input {
  border: 1px solid rgba(246, 238, 238, 0.7);
  background-color: rgba(23, 23, 23, 0.5);
  color:white;
}

section {
  height: 400px;
}

.first {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 85vw;
  margin: auto;
}

.secimg {
  position: relative;
}

.secimg img {
  width: 355px;
  position: relative;
  z-index: 10;
}

.secimg video {
  position: absolute;
  top: 51px;
  right: 50px;
  width: 255px;
}

section .first>div {
  display: flex;
  flex-direction: column;
  padding: 34px 0px;
}

.first>div :first-child {
  font-weight: bold;
  font-size: 44px;
}

section.first>div :nth-child(2) {
  font-size: 20px;
}

.over {
  background-color: black;
  height: 78px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid rgb(44, 43, 48);
  position: relative;
  /* bottom:100px; */
  left: 50px;
  z-index: 30;
  display: flex;
  align-items: center;
}

.over img {
  height: 70px;
  width: 45px;
  postion: relative;
  margin: 4px 6px;
}


.fill {
  display: flex;
  flex-direction: column;
  column-gap: 3px;

}

#mov1 {
  font-size: 14px;
  font-weight: bold;
}

#mov2 {
  font-size: 11px;
  font-weight: bold;
  color: #2832C2;
}

.gif img {
  width: 50px;
  height: 50px;
  position: relative;
  left: 15px;
}

#img1 {
  position: relative;
  top: 10px;
  height: 320px;
  width: 420px;
  left: 34px;
}



.ready {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 19px;

}

#center {
  font-size: 48px;
  font-weight: bold;
  text-align: center;

}

.faq {
  background: black;
  color: white;
  padding: 34px;
}

.flex {
  
  max-width: 60vw;
  padding: 24px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 44, 44);
  margin: 20px auto;
  font-size: 24px;
  transition: all 1s ease-out;
  cursor: pointer;
}
.flex:hover {
  background-color: #414141;
  color: white;
}

.flex span {
  font-size: 25px;
}

.flex span:nth-child(2) {
  font-size: 40px;
}

.in {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.in input {
  background-color: rgba(23, 23, 23, 0.5);
  padding: 10px 12px;
  width: 400px;
  border: 1px solid rgba(246, 238, 238, 0.7);
  color: white;
}

.bt-red {
  padding: 5px 9px;
  background-color: red;
  color: white;
  border: 1px solid rgba(246, 238, 238, 0.7);
}




footer {
  max-width: 88vw;
  margin: auto;
  padding: 60px;
}

footer a,
div {
  color: #E7E7E7;
  text-decoration-thickness: 0.7px;
}

.one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: start;
  color: #e7e7e794;

}

.sub {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
  row-gap: 10px;
}

.origin {
  margin-top: 20px;
}

.question div:hover {
  background-color: #454545;
}

@media screen and (max-width: 1300px) {

  nav{
      max-width: 90vw;
  }
  
  .seperation{
    margin-top: 0px;
  }
  .signin{
    width:80%;
  }
  .email{
    height: 31px;
  }
  .start{
    font-size: 12px;
    height: 40px; 
   }

  .first {
    display: flex;
      flex-wrap: wrap;
      
      height: 500px;
      margin-bottom: 70px;
  }
  .second{
    display: flex;
    flex-direction: column-reverse;
  }
  .second .secimg img{
      width:250px;
  }
  .over{
    width:165px;
    height: 60px;
  }
  #ov>img{
    width:25px;
    height:50px;
  }
  #mov1{
    font-size: 10px;
  }
  #mov2{
    font-size: 9px;
  }
  #gif img{
    height: 25px;
    width:25px;
  }

  
  

  .secimg>video{
      width: 250px;
  }

  .hero> :nth-child(1) {
      font-size: 32px;
  }

  .hero> :nth-child(2) {
      font-size: 18px;
  }

  .hero> :nth-child(3) {
      font-size: 18px;
  }

  

  .faq h2 {
      text-align: center;
      font-size: 32px;
  }

  footer {
      max-width: 90vw;
      padding: 75px 0;
  }

  .footer-item{
      align-items: center;
  }


}
@media screen and (max-width: 1300px) {

  .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
  }
}


/* .footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
} */